language: node_js
node_js:
   - "stable"
cache:
   - "node_modules"
before_script:
   - cd frontend
script:
   - npm install
   - npm run build
deploy:
  provider: s3
  access_key_id: "AKIAJPHDNQLWGCW7K5OA"
  secret_access_key: "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"
  bucket: "pickmo"
  on:
    branch: master
