language: node_js
node_js:
   - "stable"
cache:
   - "node_modules"
install:
   - npm install newman
before_script:
   - node --version
   - npm --version
   - node_modules/.bin/newman --version
   - cd frontend
script:
   - npm install
   - npm run build
   - node_modules/.bin/newman run ../tests/Pickmo.postman_collection.json
deploy:
  provider: s3
  access_key_id: "AKIAJPHDNQLWGCW7K5OA"
  secret_access_key: "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"
  bucket: "pickmo"
  on:
    branch: master
